@media print{

		.left-side,
		.app-toolbox,
		.app-cache,
		.screenshot-modal,
		footer,
		header {
			display: none;
		}
		.dicom-app, canvas,.layerContainer,.drawDiv{width:700px !important;height: 700px !important}
		.dicom-app {position: relative;display: block;}
		.infotr,
		.infotl,
		.infobl,
		.infobr{
			position: absolute;
			color: #fff;
    		font-size: 10px;
		}
		.infotr{top:10px;right: 10px;}
		.infotl{top:10px;left: 10px;}
		.infobl{bottom: 10px; left: 10px;}
		.infobr{bottom: 10px; right: 10px;}
		.dicom-viewer .infoLayer .infobr .plot{
			bottom: 15px;
		    height: 50px;
		    position: absolute;
		}
		.colour-map-info,
		.flot-base,
		.flot-overlay{
			width: auto !important;
			height: auto !important;
		}

	}